@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>All Employees</h1>
<br />
<br />
<form asp-action="Index" >
    <div class="row m-5">
        <div class="col-8">
            <input type="text" id="id"  style="transform:scale(1.1s)" name="Inputsearch" class="form-control" />

        </div>
        <div class="col-4 ">
            <input type="submit" value="Search" class="btn btn-success" />

        </div>
    </div>
    @if (!string.IsNullOrEmpty(TempData["Message"]as string))
    {
        <div class="alert alert-danger">
            <p>@TempData["Message"]</p>
        </div>
    }
  

<a asp-action="Create" class="btn btn-primary">Create Employee</a>
<br />
<br />
@if (Model.Count() > 0)
{
    <table id="tble" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(X=>X.Image)</th>
                <th>@Html.DisplayNameFor(x=>x.Name)</th>
                <th>@Html.DisplayNameFor(x=>x.Age)</th>
                <th>@Html.DisplayNameFor(x=>x.WorkFor)</th>
                <th>@Html.DisplayNameFor(x=>x.Address)</th>
                <th>@Html.DisplayNameFor(x=>x.Email)</th>
                <th>@Html.DisplayNameFor(x=>x.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(x=>x.Salary)</th>
                <th>@Html.DisplayNameFor(x=>x.IsActive)</th>
                <th>@Html.DisplayNameFor(x=>x.HiringDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var emp in Model)
            {
                <tr>
                    <td><img src="~/files/images/@emp.ImageName"width="75" class="img-fluid rounded-circle"></img></td>
                    <td>@emp.Name</td>
                    <td>@emp.Age</td>
                    <td>@emp.WorkFor?.Name</td>
                    <td>@emp.Address</td>
                    <td>@Html.DisplayFor(M=>emp.Email)</td>
                    <td>@emp.PhoneNumber</td>
                    <td>@Html.DisplayFor(M=>emp.Salary)</td>
                    <td>@Html.DisplayFor(M=>emp.IsActive)</td>
                    <td>@emp.HiringDate</td>
                    <partial name="_Buttonpartialviews"model="@emp.Id" />
                </tr>
            }
        </tbody>
    </table>


}
else{
    <div class="alert alert-danger">
        <h4>There are No Employee</h4>
    </div>
}
</form>
